/* you will add css rules for element selectors and IDs */


/* you may add to or change the body rule */
html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #fff;
    background: #000;
    margin: 0;
}

header {
  background: #333;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
}

nav ul li {
  font-size: 1.5em;
  text-transform: uppercase;
  margin: 0;
  margin-left: 1rem;
}

img {
    max-width: 100%; /* DO NOT delete or change this line */
}

article {
  display: flex;
  justify-content: space-between;
}

/*flex containers*/
#cougar {
  background: #FFD5AE;
}

#lion {
  background: #FFBD82;
}

#tiger {
  background: #B26219;
}

/*flex items*/
section {
  max-width: 100%;
  width: 500px;
}

.photo {
  color: #000;
  margin: 2rem;
}

.text {
  color: #000;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 2rem;
}

footer {
  background: #333;
  padding: .5rem;
  margin: 0;
}

footer p {
  text-align: center;
}

/* ----- SUGGESTED COLORS -----
    - ARTICLES
    B26219 cinnamon
    FFD5AE pale peach
    FFBD82 peach
    - LINKS
    379CB2 medium blue
    82E8FF light blue

   ----- NEUTRAL COLORS you may use also -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- link pseudo classes --- */
/* --- you may ADD other link pseudo classes for
        specific articles or sections to improve CONTRAST --- */

a {
    color: #379CB2;
    text-decoration: none;
}
a:hover {
    color: #82E8FF;
}
